@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: "Nunito";
    align-items: center;
    text-align: center;
    background-image: url(https://wallpapers.com/images/hd/pastel-pink-heart-clipart-13ijb0dg7s9g2s5x.jpg);
}

.redes {
    font-family: "Nunito";
    border-radius: 15px;
    background-color: rgba(150, 0, 300, 0.4); 
    margin: 1rem auto;
    box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.6);
    height: 420px;
    width: 350px;
}

.redes h1 {
    padding-top: .5rem;
    color: white;
}

button {
    font-family: "Nunito";
    border: 2px solid rgb(99, 0, 99);
    border-radius: 15px;
    width: 200px;
    height: 60px;
    cursor: pointer;
    margin: .5rem;
    font-size: 16px;
    transition: background-color 0.6s, color 0.6s, transform 0.6s;
}

button:hover{
    background-color: #ce73ce;
    transform: scale(1.05);
    transition-duration: 0.6s;
}

img {
    padding: 0%;
    margin-bottom: -80px;
    margin-top: 3.5rem;
    width: 300px;
}
